@{
    ViewBag.Title = "Home Page";
    int a, b, c;
    string add;
    a = 10;
    b = 20;
    c = a + b;
    add = "Addition is :" +@c;
    <h2>@add</h2>

    <h2>html helper controls </h2>
    <table border="1">
        <tr><td>name</td>   <td>@Html.TextBox("Name")</td></tr>
        <tr><td>address</td>   <td>@Html.TextBox("address")</td></tr>
        <tr><td>gender</td>   <td>male @Html.CheckBox("gender" ,"Male") female @Html.RadioButton("gender" ,"female")</td></tr>

    </table>

}

<div class="jumbotron">
    
</div>